main {
	display: flex;
	justify-content: space-between;
	align-items: start;
	max-width: 1300px;
	margin: auto;
	padding: 5rem 8rem;
	gap: 2rem;
	width: 100%;
}

main h1 {
	font-size: 20;
	font-weight: 400;
	font-family: var(--font-body);
}

main img {
	min-width: 200px;
	max-width: 512px;
	height: auto;
	object-fit: contain;
}

.add-btn {
	background-color: black;
	color: white;
	margin-top: 16px;
	width: 100%;
	text-align: center;
}

.add-btn:hover {
	background-color: white;
	color: black;
}

.product {
	max-width: 330px;
}

.product > :not(:first-child) {
	margin-top: 1rem;
}

@media screen and (max-width: 800px) {
	main {
		padding: 2.5rem 2rem;
		flex-direction: column;
	}

	main img {
		max-width: 100%;
	}

	.product {
		max-width: 100%;
	}
}
