:root {
	--primary: #0a3641;
	--light-grey: #e7dfda;
	--dark-grey: #1a1919;
	--brown: #71512d;
	--brown-light: #99754b;
	--dark-brown: #231a07;

	--font-header: "Josefin Sans", sans-serif;
	--font-body: "Inter", sans-serif;
}

html {
	font-family: var(--font-body);
	font-optical-sizing: auto;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
}

body {
	margin-top: 123px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: var(--font-header);
	font-optical-sizing: auto;
	font-style: normal;
}

nav {
	padding: 7px 24px;
	background-color: var(--light-grey);
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 50;
}

nav img {
	width: auto;
	height: 105px;
}

a {
	color: inherit;
	text-decoration: inherit;
}

p a {
	text-decoration: underline;
}

button {
	cursor: pointer;
}

.list-reset {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

nav ul {
	display: flex;
	align-items: center;
	gap: 87px;
	color: var(--primary);
	font-weight: 500;
}

nav ul a:hover {
	text-decoration: underline;
}

.btn-group {
	display: flex;
	padding: 2px;
	width: min-content;
	gap: 2px;
	background-color: var(--light-grey);
}

.btn-group button {
	border: none;
	background-color: var(--brown);
	color: white;
	padding: 0;
	width: 50px;
	height: 32px;
	opacity: 0.5;
}

.btn-group button[aria-checked="true"] {
	opacity: 1;
}

.btn-group button:hover {
	opacity: 0.8;
}

.btn {
	display: inline-block;
	padding: 10px 16px;
	border: 1px solid currentColor;
	text-transform: uppercase;
}

.btn:hover {
	transition: all 0.15s ease-in-out;
}

.cart-btn:hover {
	color: white;
	background-color: var(--primary);
	text-decoration: none;
}

.center {
	width: min-content;
	margin-left: auto;
	margin-right: auto;
}

.brown {
	color: var(--brown);
}

.primary {
	color: var(--primary);
}

footer {
	background-color: var(--light-grey);
	display: grid;
	gap: 12px;
	grid-template:
		"links-a links-b links-c"
		"logo logo logo";
	justify-content: space-between;
	padding: 24px;
}

footer h3 {
	margin-top: 0;
	margin-bottom: 12px;
	font-family: var(--font-body);
	font-size: 20px;
	font-weight: bold;
	color: var(--primary);
}

footer img {
	grid-area: logo;
	place-self: center;
	height: 113px;
}

@media screen and (max-width: 800px) {
	body {
		margin-top: 68px;
	}
	nav ul {
		gap: 2rem;
	}
	nav ul li:first-child {
		display: none;
	}
	nav img {
		height: 50px;
	}
}
